In [1]:
import pandas as pd
df=pd.read_csv("salaries.csv")
df.head()

  company                  job degree  yes
0  google      sales executive   bach    0
1  google      sales executive    mas    0
2  google     business manager   bach    1
3  google     business manager    mas    1
4  google  computer programmer   bach    0

In [7]:
inputs=df.drop(columns='yes')
targets=df.yes

In [9]:
from sklearn.preprocessing import LabelEncoder
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [12]:
inputs['company_n']=le_company.fit_transform(inputs['company'])
inputs['job_n']=le_company.fit_transform(inputs['job'])
inputs['degree_n']=le_company.fit_transform(inputs['degree'])
inputs.head()

  company                  job degree  company_n  job_n  degree_n
0  google      sales executive   bach          2      2         0
1  google      sales executive    mas          2      2         1
2  google     business manager   bach          2      0         0
3  google     business manager    mas          2      0         1
4  google  computer programmer   bach          2      1         0

In [14]:
inputs_n=inputs.drop(columns=['company', 'job', 'degree'])
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [16]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [17]:
model.fit(inputs_n, targets)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [18]:
model.score(inputs_n, targets)

1.0

In [20]:
model.predict([[2,0,0]])

array([1], dtype=int64)